/*
 *  6 - Blog Elements ( _blog.scss )
 *
 *  All elements that are used for a blog (article previews, etc).
 *  "Commons" elements will be in other parts
*/

/* 1.1 - Comment area */

.comment {
  margin-bottom: 1.333em;
}

/* 2.1 - Previews */

.card-description {
  .card-body {
    font-size: 4.5mm;
    font-weight: 300;
    line-height: 1.5em;
  }
}

.card-release {
  .card-body {
    display:flex;
    flex-direction: row;
  }
  .date-author {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:0.66em;
    font-style: italic;
    font-weight: 300;
  }
  .comic-description {
    padding-left: 1.33em;
    p {
      font-size: 4.5mm;
      font-weight: 300;
      line-height: 1.5em;
    }
  }

  .issue-cover {
    width:100px;
    height:auto;
  }
}

.issue-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.issue-cover {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.66);
}

.issue-button, a .issue-button {
  color: $color-font;

  &:hover, &.hover {
    background-color: $color-orange;
    color: white;
    text-decoration: none;
  }

  .badge, .badge:hover {
    background-color: $color-orange;
    color: white;
  }

  .cover-container {
    height:155px;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .issue-cover {
    width:100px;
    height:auto;
  }

  width:130px;
  padding:15px;
  margin:15px;

  p {
    text-align: center;
    font-size: 1em;
    padding-top: 0.2mm;
    padding-bottom:0;
    font-weight: 600;
  }
}

.issue-description {
  .card-body {
    display:flex;
    flex-direction: row;
  }
  .comic-description {
    padding-left: 1.33em;
    p {
      font-size: 4.5mm;
      font-weight: 300;
      line-height: 1.5em;
    }
  }

  .issue-cover {
    width:150px;
    height:auto;
  }
}

.previous {
  padding-bottom:1em;
}

/* 2.1.1 - Article list */

.list-article {
  display: flex;
  flex-direction: row;
  &-thumbnail {
    display: block;
    padding-top: 1.5em;
    max-width: 200px;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-main {
    width: 100%;
    padding-left:1em;
  }
  &-title {
    font-family: Teko;
    font-weight: 600;
    margin-bottom: 0em;
    a {
      color: #444;
    }
  }
  &-metadata {
    display:flex;
    justify-content: space-between;
  }

  &-content {
    font-style: italic;
  }
}

.navigation {
  .pagination {
    padding-top: 2em;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

/* 3. Article mixts */

.article-taxonomies {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  .badge:not(:last-child) {
    margin-right:0.5em;
  }
}

.wp-caption {
  img {
    max-width: 100%;
    height: auto;
  }

  &-text {
    font-size: 0.9em;
    font-style: italic;
  }

  &.aligncenter {
    margin: auto;
  }
}

.card-reader {
  img {
    width:100%;
    height:auto;
    display:block;
  }
}

.card-reader.reader-fullscreen {
  img {
    width:50%;
    height:auto;
    display:block;
  }
  box-shadow:none;
  border-bottom:none;
}
