$color-blue: #435edb;
$color-violet: #a146aa;
$color-purple: #474394;
$color-red: #d74d4c;
$color-orange: #eb9d45;
$color-green: #8fcb62;
$color-skyblue: #72adee;
$color-dark: #191023;
$color-light: #f4f5ef;
$color-turquoise: #339ca3;
$color-yellow: #f6e455;
$color-brown: #a65d35;
$color-grey: #a0abb1;

$color-warning: $color-orange;
$color-danger: $color-red;
$color-info: $color-skyblue;
$color-success: $color-green;
