/*
 *  6 - Content Elements ( _site.scss )
 *
 *  All elements that are used for the content of the site.
 *  "Commons" elements will be in other parts
*/

/* 1.1 - Comment area */

/* 2.1 - Previews */

.card-description {
  .card-body {
    font-size: 4.5mm;
    font-weight: 300;
    line-height: 1.5em;
  }
}

.card-release {
  .card-body {
    display:flex;
    flex-direction: row;
  }
  .date-author {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:0.66em;
    font-style: italic;
    font-weight: 300;
  }
  .comic-description {
    padding-left: 1.33em;
    p {
      font-size: 4.5mm;
      font-weight: 300;
      line-height: 1.5em;
    }
  }

  .issue-cover {
    width:100px;
    height:auto;
  }
}

.issue-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.issue-cover {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.66);
}

.issue-button, a .issue-button {
  color: $color-font;

  &:hover, &.hover {
    background-color: $color-orange;
    color: white;
    text-decoration: none;
  }

  .badge, .badge:hover {
    background-color: $color-orange;
    color: white;
  }

  .cover-container {
    height:155px;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .issue-cover {
    width:100px;
    height:auto;
  }

  width:130px;
  padding:15px;
  margin:15px;

  p {
    text-align: center;
    font-size: 1em;
    padding-top: 0.2mm;
    padding-bottom:0;
    font-weight: 600;
  }
}

.issue-description {
  .card-body {
    display:flex;
    flex-direction: row;
  }
  .comic-description {
    padding-left: 1.33em;
    p {
      font-size: 4.5mm;
      font-weight: 300;
      line-height: 1.5em;
    }
  }

  .issue-cover {
    width:150px;
    height:auto;
  }
}

.previous, .fast-navigation {
  padding-bottom:1em;
  display:flex;
  flex-direction: row;
  .fast-navigation-item {
    flex-grow:1;
    flex-basis:0;
    text-align:center;
    &:first-child {
      text-align:left;
    }
    &:last-child {
      text-align:right;
    }
  }
}

.footer-navigation {
  padding:0.33em;
  display:flex;
  flex-direction: row;
  .footer-group {
    flex-grow:1;
    flex-basis:0;
    &:first-child {
      display:flex;
      flex-direction:row;
      text-align:left;
      align-items:center;
      justify-content:flex-start;
    }
    ul {
      display:flex;
      flex-direction:row;
      padding:0;
      margin:0;
      justify-content:flex-end;
      li {
        padding:0;
        margin:0;
        padding-left:0.33em;
        padding-top:0.33em;
        list-style-type: none;
      }
    }
  }
}

/* 2.1.1 - Article list */

.navigation {
  .pagination {
    padding-top: 2em;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

/* 3. Article mixts */

.card-reader {
  img {
    width:100%;
    height:auto;
    display:block;
  }
}

.card-reader.reader-fullscreen {
  img {
    width:50%;
    height:auto;
    display:block;
  }
  box-shadow:none;
  border-bottom:none;
}
